# Repeated Execution

# for loop

In [1]:
range(10)

range(0, 10)

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
# range(start, stop, step)
list(range(2, 11, 2))

[2, 4, 6, 8, 10]

In [6]:
for i in range(4):
    print('hola')

hola
hola
hola
hola

In [7]:
for i in range(4):
    print(i, 'hola')

0 hola
1 hola
2 hola
3 hola

In [8]:
l1 = [1, 3, 8, 5]

In [10]:
for i in range(len(l1)):
    print('index:', i, '\tvalue:', l1[i])

index: 0 	value: 1
index: 1 	value: 3
index: 2 	value: 8
index: 3 	value: 5

In [12]:
for n in l1:
    print(n)
    n = n + 1

1
3
8
5

In [13]:
l1

[1, 3, 8, 5]

In [14]:
for i in range(len(l1)):
    l1[i] += 1

In [15]:
l1

[2, 4, 9, 6]

In [16]:
name = input('what is your name?: ')
print('hello', name)

what is your name?:  Motaz

hello Motaz

In [17]:
n1 = int(input())
n2 = int(input())
n1 + n2

 10
 20

30

In [18]:
eval('10*3+2')

32